<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About Michael</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

  <%- include("partials/header") %>

  <h1>About Me</h1>
  <p>Hi, I’m <strong><%= name %></strong>.</p>

  <p>
    I’m an Information Systems student at BYU, MTC teacher, and builder of meaningful
    technology.
  </p>

</body>
</html>
